@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
    background-color: #24252A ;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
li,a,button{
   font-family: "Montserrat", sans-serif ;
   font-weight: 500;
   font-size: 16px; 
   color: #edf0f1;
   text-decoration: none;
   
}

header{
    position: sticky;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
     border-bottom: 1px solid #0088a9;


}
.logo{
    margin-right: auto;
  width: 150px;
  height: auto;
  object-fit: contain;
  vertical-align: middle;



}
.nav-bar{
 list-style: none;   
 padding-right: 75px;
}
.nav-bar li{
    display:inline-block;
    padding: 0px 20px;


}

.nav-bar li a{
    transition: all 0.3s ease 0s;
}


.nav-bar li a:hover{
color: #0088a9;

}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius:50px ;
    cursor:pointer;
    transition: all 0.3s ease 0s;


}

button:hover{
    background-color:rgba(0, 136, 169, 0.8 ) ;
}



main{
    width: 100%;
   flex: 1;
   display: flex;
   justify-content: end;

}
.container {
    width: 100%;
      height: 100%;
      margin-right: auto;
      background-image: url('ChatGPT Image Jun 19, 2025, 12_36_20 PM.png'); 
      background-size: contain ; 
      background-repeat: no-repeat; 
      background-position: start; 
      font-family: Arial, sans-serif;
      color: white;
}
